body{
    background-color: lightgray;
    font-family: "open sans";
    border: 15px #050505;
    margin: 15px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    border: 2px solid black ;
    text-align: center;
    -webkit-text-stroke:1px black;
    padding: 10px;
}
h2 {
    color: black;
    border: 1px dotted  black;
    border-radius: 15px;
    padding: 10px;
    
}
mark{
    color: black
}
#principal{
    display: block;
    float: left;
    margin-right: 20px;
}
#seccion_datos_personales{
   margin-left: 170px;
}